table { 
    width: 50%; 
    height: 30%;
} 
body {
    background-color: rgb(216, 204, 36);
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("/media/image_5354e-Escherichia-coli.jpeg");
    opacity: 0.25;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}

