* {
    margin: 0;
    padding: 0;
}

table { 
    width: 50%; 
    height: 30%;
} 
body {
    background-color: rgb(172, 182, 201);
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:black;
}

