{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator About Page</title>
    </head>

    <body>
        <center>
            <hr style="height:20pt; visibility:hidden;" />
            <h1></h1>

            <p>
                <strong>Welcome to the BioCalculator!</strong>
                <br><br>
                <!-- Get to know more about the creators behind the BioCalculator here!
                <br> -->
                There are currently seven members working on this website, and we are students at Harvey Mudd College under the 
                <a href="https://biomakerspace.com/">BioMakerspace</a>.
                <br><br>
                <strong>Members:</strong>
                <br><br>
                <div>
                    <li>Tom Fu</li>
                    <li>Lucy Paddock</li>
                    <li>Liam Chalk</li>
                    <li>April Zhao</li>
                    <li>Tristan Huang</li>
                    <li>Michelle Lee</li>
                    <li>Allison Tsai</li>
                </div>
                
                    
                    
                    
                
                
            </p>
            <hr style="height:15pt; visibility:hidden;" />
        </center>
    </body>


{% endblock %}