{% extends 'base.html' %}
{% block content%}
    <!-- <head>
        <title>About</title>
    </head> -->

    <body>
        <div class="container-fluid ms-3 my-5">
            <h4 class="mb-3">BioCalculator About Page</h4>
            <p class="mb-0">
                There are currently seven members working on this website, and we are students at Harvey Mudd College under the 
                <strong>
                    <a href="https://biomakerspace.com/" class="text-dark text-decoration-none">BioMakerspace</a>
                </strong>.
                <br>
                <div class="mt-3 mb-2">
                    <strong>Members:</strong>
                </div>
                <div>
                    <li>Tom Fu</li>
                    <li>Lucy Paddock</li>
                    <li>Liam Chalk</li>
                    <li>April Zhao</li>
                    <li>Tristan Huang</li>
                    <li>Michelle Lee</li>
                    <li>Allison Tsai</li>
                </div>
            </p>
        </div>
    </body>

{% endblock %}