{% extends 'base.html' %} {% block content%}
<!-- <head>
    <title>PCR Result Page</title>
</head> -->

<body>
  <div class="container-fluid px-5 my-5">
    <h4 class="mb-3">PCR Calculator Results</h4>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">volume</th>
          <th scope="col">concentration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">total</th>
          <td>{{RESULTtotalVol}}</td>
          <td>n/a</td>
        </tr>

        <tr>
          <th scope="row">PCR buffer</th>
          <td>{{RESULTPCRBufferVol}}</td>
          <td>
            <u>initial</u>: {{RESULTPCRBufferInitConc}}
            <br />
            <u>final</u>: {{RESULTPCRBufferFinalConc}}
          </td>
        </tr>

        <tr>
          <th scope="row">polymerase</th>
          <td>{{RESULTpolymeraseVol}}</td>
          <td>{{RESULTpolymeraseConc}}</td>
        </tr>

        <tr>
          <th scope="row">dNTP</th>
          <td>{{RESULTdNTPVol}}</td>
          <td>{{RESULTdNTPConc}}</td>
        </tr>

        <tr>
          <th scope="row">MgCl<sub>2</sub></th>
          <td>{{RESULTMgCl2Vol}}</td>
          <td>{{RESULTMgCl2Conc}}</td>
        </tr>

        <tr>
          <th scope="row">forward primer</th>
          <td>{{RESULTforwardPrimerVol}}</td>
          <td>{{RESULTforwardPrimerConc}}</td>
        </tr>

        <tr>
          <th scope="row">backward primer</th>
          <td>{{RESULTbackwardPrimerVol}}</td>
          <td>{{RESULTbackwardPrimerConc}}</td>
        </tr>

        <tr>
          <th scope="row">template DNA</th>
          <td>{{RESULTtemplateDNAVol}}</td>
          <td>{{RESULTtemplateDNAConc}}</td>
        </tr>

        <tr>
          <th scope="row">DMSO</th>
          <td>{{RESULTDMSOOptionalVol}}</td>
          <td>{{RESULTDMSOOptionalConc}}</td>
        </tr>

        <tr>
          <th scope="row">water</th>
          <td>{{RESULTwaterVol}}</td>
          <td>n/a</td>
        </tr>
      </tbody>
    </table>
    <center>
        <a
        href="/PCRCalc/"
        class="btn btn-warning mt-3"
        role="button"
        aria-disabled="true"
        >refresh</a
      >
    </center>
    
  </div>
</body>

{% endblock %}
