{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Contact Page</title>
    </head>

    <body>
         <center>
            <hr style="height:15pt; visibility:hidden;" />
            <h4>Unit Conversion Calculator</h4>
            <h5>Enter Input Value, Input Unit, Output Unit.</h5>
            <h5>Molar Mass is required if converting between mass and moles.</h5>

            <hr style="height:3pt; visibility:hidden;" />

            <table border = "1">
                <hr style="height:15pt; visibility:hidden;" />
                <tbody>
                    <tr>
                        <td> Input Value </td>
                        <td> {{inputValue}}</td>
                    </tr>
                    <tr>
                        <td> Input Units</td>
                        <td> {{inputUnit}}</td>
                    </tr>
                    <tr>
                        <td> Output Value</td>
                        <td> {{outputValue}}</td>
                    </tr>
                    <tr>
                        <td> Output Units </td>
                        <td> {{outputUnit}}</td>
                    </tr>
                    <tr>
                        <td> Molar Mass </td>
                        <td> {{molarMass}}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
            <li><a href="/calcUnitConvert/">REFRESH</a></li>
            </ul>
        </center>
    </body>


{% endblock %}