{% extends 'base.html' %} {% block content%}
<!-- <head>
    <title>Unit Conversion</title>
</head> -->

<body>
  <div class="container-fluid px-5 my-5">
    <h4 class="mb-3">Unit Conversion Calculator</h4>
    <h5>Instructions:</h5>
    <ul class="ms-1">
      <li>
        Please input the appropriate values for the required (*) form fields. Conversions between ___ are allowed.
      </li>
      <li>
        Molar mass is required only when converting between mass and moles.
      </li>
      <li>
        Appropriate units:
        <ul>
          <li><u>Mass</u>: g, kg, pg, ng, μg, mg, cg, Mg, Gg, Tg</li>
          <li><u>Molarity</u>: M, kM, pM, nM, μM, mM, cM, MM, GM, TM</li>
          <li><u>Volume</u>: L, kL, pL, nL, μL, mL, cL, ML, GL, TL</li></li>
          <li><u>Mole</u>: mol, kmol, pmol, nmol, μmol, mmol, cmol, Mmol, Gmol, Tmol</li>
          <li><u>Molar mass</u>: g/mol</li>
        </ul>
      </li>
    </ul>

    <h5 class="mb-4">Inputs:</h5>
    {% load crispy_forms_tags %}
    
    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-2">
          <span class="input-group-text">input value *</span>
          {{ conversionform.INPUTVALUE|as_crispy_field }}
      </div>

      <div class="input-group mb-2">
        <span class="input-group-text">input unit *</span>
        {{ conversionform.INPUTUNIT|as_crispy_field }}
      </div>
      
      <div class="input-group mb-2">
          <span class="input-group-text">output value</span>
          {{ conversionform.OUTPUTVALUE|as_crispy_field }}
      </div>

      <div class="input-group mb-2">
          <span class="input-group-text">output unit *</span>
          {{ conversionform.OUTPUTUNIT|as_crispy_field }}
      </div>

      <div class="input-group mb-4">
          <span class="input-group-text">molar mass</span>
          {{ conversionform.MOLARMASS|as_crispy_field }}
      </div>

      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</body>

{% endblock %}
