{% extends 'base.html' %} {% block content%}
<!-- <head>
    <title>Unit Conversion Result Page</title>
</head> -->

<body>
  <div class="container-fluid px-5 my-5">
    <h4 class="mb-3">Unit Conversion Results</h4>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">value</th>
          <th scope="col">units</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">input</th>
          <td>{{inputValue}}</td>
          <td>{{inputUnit}}</td>
        </tr>

        <tr>
          <th scope="row">output</th>
          <td>{{outputValue}}</td>
          <td>{{outputUnit}}</td>
        </tr>

        <tr>
          <th scope="row">molar mass</th>
          <td>{{molarMass}}</td>
          <td>g/mol</td>
        </tr>
      </tbody>
    </table>

    <center>
      <a
        href="/calcUnitConvert/"
        class="btn btn-warning mt-3"
        role="button"
        aria-disabled="true"
        >refresh</a
      >
    </center>
  </div>
</body>

{% endblock %}
