{% extends 'base.html' %} {% block content%}
<!-- <head>
    <title>PCR Calculator</title>
</head> -->

<body>
  <div class="container-fluid px-5 my-5">
    <h4 class="mb-3">PCR Calculator</h4>
    <h5>Instructions:</h5>
    <ul class="ms-1">
      <li>// what this calculator does //</li>
      <li>
        // we should put why this calculator is useful (in what experiment) //
      </li>
      <li>
        Required Forms (*):
        <ul>
          <li>Each row requires at least one input</li>
        </ul>
      </li>
      <li>
        Optional Forms:
        <ul>
          <li>DMSO volume</li>
          <li>DMSO concentration</li>
          <li>water volume</li>
        </ul>
      </li>
    </ul>

    <h5 class="mb-4">Inputs:</h5>
    {%load crispy_forms_tags %}

    <form method="post">
      {% csrf_token %}
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text">total volume *</span>
              {{ pcrform.totalVol|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="mb-2">
          <span
            ><strong>PCR buffer</strong>: input either volume or both initial &
            final concentration</span
          >
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">volume</span>
              {{ pcrform.PCRBufferVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">initial concentration</span>
              {{ pcrform.PCRBufferInitConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col"></div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">final concentration</span>
              {{ pcrform.PCRBufferFinalConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="mb-2">
          <span
            ><strong>inputs below</strong>: input either volume or concentration
            for each row</span
          >
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">polymerase volume</span>
              {{ pcrform.polymeraseVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">polymerase concentration</span>
              {{ pcrform.polymeraseConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">dNTP volume</span>
              {{ pcrform.dNTPVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">dNTP concentration</span>
              {{ pcrform.dNTPConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">
                <p class="mb-0">MgCl<sub>2</sub> volume</p>
              </span>
              {{ pcrform.MgCl2Vol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">
                <p class="mb-0">MgCl<sub>2</sub> concentration</p>
              </span>
              {{ pcrform.MgCl2Conc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">forward primer volume</span>
              {{ pcrform.forwardPrimerVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">forward primer concentration</span>
              {{ pcrform.forwardPrimerConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">backward primer volume</span>
              {{ pcrform.backwardPrimerVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text"
                >backward primer concentration</span
              >
              {{ pcrform.backwardPrimerConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">template DNA volume</span>
              {{ pcrform.templateDNAVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">template DNA concentration</span>
              {{ pcrform.templateDNAConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="mb-2"><strong>optional</strong>:</div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">DMSO volume</span>
              {{ pcrform.DMSOOptionalVol|as_crispy_field }}
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <span class="input-group-text">DMSO concentration</span>
              {{ pcrform.DMSOOptionalConc|as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group mb-4">
              <span class="input-group-text">water volume</span>
              {{ pcrform.waterVol|as_crispy_field }}
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-warning">submit</button>
      </div>
    </form>
  </div>
</body>

{% endblock %}
