{% extends 'base.html' %}
{% block content%}

<head>
    <title>Calculator Home Page</title>
</head>

<body>
    <center>
        <hr style="height:20pt; visibility:hidden;" />
        <h1></h1>
        <p>Welcome! This is the calculator home page. Here, you can find the links to all of the calculators we support!</p>

        <br>
        <h4>Calculators:</h4>
        <ul>
            <li>
                <a href="/PCRCalc/">PCR</a>
            </li>
            <li>
                <a href="/cutting/">cutting reaction</a>
            </li>
            <li>
                <a href="/calcUnitConvert/">unit conversion</a>
            </li>
            <li>
                <a href="/dilutionCalculator/">dilution</a>
            </li>
            
        </ul>
    </center>
    
    
</body>

{% endblock %}