{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Contact Page</title>
        <link rel="stylesheet" href="/homepage/templates/style.css">
    </head>

    <body style="background-color:rgb(255, 255, 255);">
        <center>
            <hr style="height:15pt; visibility:hidden;" />
            <h4>PCR Calculator</h4>
            <h5>Here are the results!</h5>
            <hr style="height:3pt; visibility:hidden;" />
            
            <table border = "1">
                <hr style="height:15pt; visibility:hidden;" />
                <tbody>
                    <tr>
                        <td> Total Volume {{RESULTtotalVol}} </td>
                    </tr>
                    <tr>
                        <td> PCR Buffer Volume {{RESULTPCRBufferVol}} </td>
                        <td> PCR Buffer Initial Conc {{RESULTPCRBufferInitConc}} </td>
                        <td> PCR Buffer Final Conc {{RESULTPCRBufferFinalConc}} </td>
                    </tr>
                    <tr>
                        <td> Polymerase Volume {{RESULTpolymeraseVol}} </td>
                        <td> Polymerase Conc {{RESULTpolymeraseConc}} </td>
                    </tr>
                    <tr>
                        <td> dNTP Volume {{RESULTdNTPVol}} </td>
                        <td> dNTP Conc {{RESULTdNTPConc}} </td>
                    </tr>
                    <tr>
                        <td> MgCl2 Volume {{RESULTMgCl2Vol}} </td>
                        <td> MgCl2 Conc {{RESULTMgCl2Conc}} </td>
                    </tr>
                    <tr>
                        <td> Forward Primer Volume {{RESULTforwardPrimerVol}} </td>
                        <td> Forward Primer Conc {{RESULTforwardPrimerConc}} </td>
                    </tr>
                    <tr>
                        <td> Backward Primer Volume {{RESULTbackwardPrimerVol}} </td>
                        <td> Backward Primer Concentration {{RESULTbackwardPrimerConc}} </td>
                    </tr>
                    <tr>
                        <td> DMSO Volume {{RESULTDMSOOptionalVol}} </td>
                        <td> DMSO Concentration {{RESULTDMSOOptionalConc}} </td>
                    </tr>
                    <tr>
                        <td> Added Water Volume {{RESULTwaterVol}} </td>
                    </tr>
                </tbody>
            </table>

            <ul>
            <li><a href="/PCRCalc/">REFRESH</a></li>
            </ul>
        </center>
    </body>


{% endblock %}