{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Contact Page</title>
    </head>

    <body style="background-color:rgb(255, 255, 255); font-size: 18; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <style>
            table { 
                width: 50%; 
                height: 30%;
            } 
            body {
              background-image: url("/media/image_5354e-Escherichia-coli.jpeg");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              color:white;
            }
        </style>
        <center>
            <hr style="height:15pt; visibility:hidden;" />
            <h4>PCR Calculator</h4>
            <h5>Either fill out the volume of concentration of each input!</h5>
            <h5>If concentration is left blank, will be considered default concentration.</h5>
            <h5>In addition, check out the instructions below!</h5>
            <ul>
                <li class="dropdown">
                    <h5 href="javascript:void(0)" class="dropbtn">Instructions for PCR (Concentrations)</h5>
                    <div class="dropdown-content">
                    <h6> Mandatory inputs: Each row except the DMSO and waterVol rows requires at least one input</h6>
                    </div>
                </li>
                <li class="dropdown">
                    <h5 href="javascript:void(0)" class="dropbtn">Additional instructions</h5>
                    <div class="dropdown-content">
                    <h6> For the PCR Buffer row, initial concentration and final concentration are both required</h6>
                    <h6> And have fun!</h6>
                    </div>
                </li>
            </ul>
            <hr style="height:3pt; visibility:hidden;" />

            <h4>Here are some examples of possible errors:</h4>
            <h4>{{errorMsg}}</h4>
            <ul>
            <li><a href="/PCRCalc/">REFRESH</a></li>
            </ul>
        </center>
    </body>


{% endblock %}