nc{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Contact Page</title>
    </head>

    <body style="background-color:rgb(216, 204, 36); font-size: 18; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <style>
            table { 
                width: 50%; 
                height: 30%;
            } 
            body {
              background-image: url("http://cdn.sci-news.com/images/enlarge4/image_5354e-Escherichia-coli.jpg");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              color:white;
            }
        </style>
        <center>
            <hr style="height:15pt; visibility:hidden;" />
            <h4>PCR Calculator</h4>
            <h5>Either fill out the volume of concentration of each input!</h5>
            <h5>If concentration is left blank, will be considered default concentration.</h5>
            <h5>In addition, check out the instructions below!</h5>
            <ul>
                <li class="dropdown">
                    <h5 href="javascript:void(0)" class="dropbtn">Instructions for PCR (Concentrations)</h5>
                    <div class="dropdown-content">
                    <h6> Mandatory inputs: Final Volume and either concentration or volume for all inputs</h6>
                    </div>
                </li>
                <li class="dropdown">
                    <h5 href="javascript:void(0)" class="dropbtn">Additional instructions</h5>
                    <div class="dropdown-content">
                    <h6> Insert additional instructions here </h6>
                    <h6> And have fun!</h6>
                    </div>
                </li>
            </ul>
            <hr style="height:3pt; visibility:hidden;" />
            <h6> finalConc</h6>
            <form method="post">
                {% csrf_token %}
                {%load crispy_forms_tags %} 
                <!-- <table> -->
                    <!-- {{ pcrform|crispy }} -->
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ pcrform.POLYMERASEVOL|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.POLYMERASECONC|as_crispy_field }}
                    </div>
                <div>
                <!-- </table> -->
                <button type="submit">Submit</button>
            </form>
        </center>
    </body>


{% endblock %}