{% extends 'base.html' %}
{% block content%}

<head>
    <title>Calculator Home Page</title>
</head>

<body>
    <center>
        <hr style="height:20pt; visibility:hidden;" />
        <h1></h1>
        <p>
            Welcome! This is the calculator home page. Here, you can find the links to all of the calculators we support!

            <br><br>
            <strong>Calculators:</strong>
            
            <br>
            <li>
                <a href="/PCRCalc/" class="calculator">PCR</a>
            </li>
            <li>
                <a href="/cutting/" class="calculator">cutting reaction</a>
            </li>
            <li>
                <a href="/calcUnitConvert/" class="calculator">unit conversion</a>
            </li>
            <li>
                <a href="/dilutionCalculator/" class="calculator">dilution</a>
            </li>
        </p>
        <hr style="height:15pt; visibility:hidden;" />
    </center>
    
    
</body>

{% endblock %}