<head>
  <title>Unit Conversion</title>
</head>

{% extends 'base.html' %} {% block content%}

<body>
  <div class="container-fluid px-5 my-5">
    <h4 class="mb-4">Unit Conversion Calculator</h4>

    <p><span class="h5">Purpose: </span>To convert mass, volume, molarity, and density units.</p>

    <h5 class="mb-3">Instructions:</h5>
    <ul class="ms-1">
      <li>
        Please input the appropriate values for the required (*) form fields.
      </li>
      <li>
        <u><span class="h6">Conversions Allowed</span></u>:
        <ul>
          <li>mass <--> mass</li>
          <li>volume <--> volume</li>
          <li>molarity <--> molarity</li>
          <li>density <--> density</li>
          <li>density <--> molarity</li>
        </ul>
      </li>
      <li>
        <u>Note</u>: 
        <span class="h6">molar mass </span>
        is 
        <span class="h6">required</span> 
        when converting density <--> molarity.
      </li>
    </ul>

    <h5 class="my-4">Inputs:</h5>
    {% load crispy_forms_tags %}

    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-2">
        <span class="input-group-text">input value *</span>
        {{ conversionform.INPUTVALUE|as_crispy_field }}
      </div>

      <div class="input-group mb-2">
        <span class="input-group-text">input unit *</span>
        {{ conversionform.INPUTUNIT|as_crispy_field }}
      </div>

      <div class="input-group mb-2">
        <span class="input-group-text">output unit *</span>
        {{ conversionform.OUTPUTUNIT|as_crispy_field }}
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text">molar mass</span>
        {{ conversionform.MOLARMASS|as_crispy_field }}
        <span class="input-group-text">g/mol</span>
      </div>

      <button type="submit" class="btn btn-warning">Submit</button>
    </form>


    <div class="category_div" id="category_div">Source:
      <select id="source" name="source" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
      <option value="mass">Mass</option>
      <option value="moles">Moles</option>
      <option value="volume">Volume</option>
      <option value="molarity">Molarity</option>
      <option value="density">Density</option>
      </select>
  </div> -->
  <div class="sub_category_div" id="sub_category_div">Status:
      <script type="text/javascript" language="JavaScript">
      document.write('<select name="status" id="status"><option value="">Select status</option></select>')
      </script>
      <noscript>
      <select id="status" name="status">
      <option value="mass">Mass</option>
      <option value="moles">Moles</option>
      <option value="volume">Volume</option>
      <option value="molarity">Molarity</option>
      <option value="density">Density</option>
      </select>
      </noscript>
  </div>
</body>

<script src="/homepage/templates/dependentdropdown.js"></script>
{% endblock %}