{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Contact Page</title>
    </head>

    <body style="background-color:rgb(216, 204, 36); font-size: 18; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <style>
            table { 
                width: 50%; 
                height: 30%;
            } 
            body {
              background-image: url("http://cdn.sci-news.com/images/enlarge4/image_5354e-Escherichia-coli.jpg");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              color:white;
            }
        </style>
        <center>
            <hr style="height:15pt; visibility:hidden;" />
            <h4>Concentration Change Calculator</h4>
            <h5>Make sure to fill out the final concentration!</h5>
            <h5>While inputVol/inputSol/inputConc are optional, if left blank, they will be considered as 0.</h5>
            <h5>In addition, check out the instructions below!</h5>
            <ul>
                <li class="dropdown">
                    <h5 href="javascript:void(0)" class="dropbtn">Instructions for Dilution</h5>
                    <div class="dropdown-content">
                    <h6> Mandatory inputs:</h6>
                    <h6> finalConc</h6>
                    <h6> FinalVol (only if inputVol is 0) </h6> 
                    </div>
                </li>
                <li class="dropdown">
                    <h5 href="javascript:void(0)" class="dropbtn">Instructions for Increasing Concentration</h5>
                    <div class="dropdown-content">
                    <h6> Mandatory inputs: </h6>
                    <h6> finalConc</h6>
                    <h6> finalVol (only if inputVol is 0) </h6>
                    </div>
                </li>
            </ul>
            <hr style="height:3pt; visibility:hidden;" />
            {% load crispy_forms_tags %} 
            <form method="post">
                {% csrf_token %}
                <table class="tableContainer" cellspacing="10px">
                    <tbody>
                        <tr style="height:5px;">
                            <td> {{ form.INPUTVOL|as_crispy_field }}</td>
                            <td> {{ form.INPUTVOLUNIT|as_crispy_field }}</td>
                        </tr>
                        <tr style="height:5px;">
                            <td> {{ form.INPUTCONC|as_crispy_field }}</td>
                            <td> {{ form.INPUTCONCUNIT|as_crispy_field }}</td>
                        </tr>
                        <tr style="height:5px;">
                            <td> {{ form.INPUTSOLUTE|as_crispy_field }}</td>
                            <td> {{ form.INPUTSOLUTEUNIT|as_crispy_field }}</td>
                        </tr>
                        <tr style="height:5px;">
                            <td> {{ form.FINALVOL|as_crispy_field }}</td>
                            <td> {{ form.FINALVOLUNIT|as_crispy_field }}</td>
                        </tr>
                        <tr style="height:5px;">
                            <td> {{ form.FINALCONC|as_crispy_field }}</td>
                            <td> {{ form.FINALCONCUNIT|as_crispy_field }}</td>
                        </tr>
                        <tr style="height:5px;">
                            <td> {{ form.OUTPUTVOLUNIT|as_crispy_field }}</td>
                            <td> {{ form.OUTPUTCONCUNIT|as_crispy_field }}</td>
                        </tr>
                        
                    </tbody>
                </table>

                <button type="submit">Submit</button>
            </form>
        </center>
    </body>


{% endblock %}