<head>
  <title>Restriction Enzyme Digestion Result Page</title>
</head>

{% extends 'base.html' %} {% block content%}

<body>
  <div class="container-fluid px-5 my-5">
    <h4 class="mb-3">Restriction Enzyme Digestion Results</h4>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">volume</th>
          <th scope="col">concentration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">total</th>
          <td>{{totalVol}}</td>
          <td>n/a</td>
        </tr>

        <tr>
          <th scope="row">template DNA</th>
          <td>{{templateDNAVol}}</td>
          <td>
            <table class="table table-hover table-borderless table-sm mb-0">
              <tbody>
                <tr>
                  <th style="width: 70%">initial conc</th>
                  <td style="width: 30%">{{templateDNAInitConc}}</td>
                </tr>
                <tr>
                  <th>final mass</th>
                  <td>{{templateDNAFinalMass}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <th scope="row">buffer</th>
          <td>{{bufferVol}}</td>
          <td>
            <table class="table table-hover table-borderless table-sm mb-0">
              <tbody>
                <tr>
                  <th style="width: 70%">initial</th>
                  <td style="width: 30%">{{bufferInitConc}}</td>
                </tr>
                <tr>
                  <th>final</th>
                  <td>{{bufferFinalConc}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <th scope="row">restriction enzyme</th>
          <td>{{restrictionEnzymeVol}}</td>
          <td>
            <table class="table table-hover table-borderless table-sm mb-0">
              <tbody>
                <tr>
                  <th style="width: 70%">initial</th>
                  <td style="width: 30%">{{restrictionEnzymeInitConc}}</td>
                </tr>
                <tr>
                  <th>final</th>
                  <td>{{restrictionEnzymeFinalConc}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <th scope="row">water</th>
          <td>{{waterVol}}</td>
          <td>n/a</td>
        </tr>
      </tbody>
    </table>
    <center>
      <a
        href="/cutting/"
        class="btn btn-warning mt-3"
        role="button"
        aria-disabled="true"
        >refresh</a
      >
    </center>
  </div>
</body>

{% endblock %}
