{% extends 'base.html' %} {% block content%}
<!-- <head>
    <title>Cutting Reaction Calculator</title>
</head> -->

<body>
  <div class="container-fluid ms-3 my-5">
    <h4 class="mb-3">Cutting Reaction Calculator</h4>
    <h5>Instructions:</h5>
    <ul class="ms-1">
      <li>
        Please input the appropriate values for the required (*) form fields.
      </li>
      <li>Volumes are in units μL.</li>
      <li>Concentrations are in units M.</li>
      <!-- <li>
                Appropriate units:ƒ
                <ul>
                  <li><u>Mass</u>: g, kg, pg, ng, μg, mg, cg, Mg, Gg, Tg</li>
                  <li><u>Molarity</u>: M, kM, pM, nM, μM, mM, cM, MM, GM, TM</li>
                  <li><u>Volume</u>: L, kL, pL, nL, μL, mL, cL, ML, GL, TL</li></li>
                  <li><u>Mole</u>: mol, kmol, pmol, nmol, μmol, mmol, cmol, Mmol, Gmol, Tmol</li>
                  <li><u>Molar mass</u>: g/mol</li>
                </ul>
              </li> -->
    </ul>

    <h5 class="mb-4">Inputs:</h5>
    {% load crispy_forms_tags %}

    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-2">
        <span class="input-group-text">total volume</span>
        {{ cuttingform.totalVol|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">template DNA volume</span>
        {{ cuttingform.templateDNAVol|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">template DNA initial concentration</span>
        {{ cuttingform.templateDNAInitConc|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">template DNA final mass</span>
        {{ cuttingform.templateDNAFinalMass|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">buffer solution volume</span>
        {{ cuttingform.bufferVol|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">buffer initial solution concentration</span>
        {{ cuttingform.bufferInitConc|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">buffer final solution concentration</span>
        {{ cuttingform.bufferFinalConc|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">restriction enzyme volume</span>
        {{ cuttingform.restrictionEnzymeVol|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">enzyme initial solution concentration</span>
        {{ cuttingform.restrictionEnzymeInitConc|as_crispy_field }}
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text">enzyme final solution concentration</span>
        {{ cuttingform.restrictionEnzymeFinalConc|as_crispy_field }}
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</body>

{% endblock %}
