<head>
  <title>Concentration Change Error Page</title>
</head>

{% extends 'base.html' %} {% block content%}

<body>
  <center>
    <hr style="height: 15pt; visibility: hidden" />
    <h4>Concentration Change Calculator</h4>
    <h5>Make sure to fill out the final concentration!</h5>
    <h5>
      While inputVol/inputSol/inputConc are optional, if left blank, they will
      be considered as 0.
    </h5>
    <h5>In addition, check out the instructions below!</h5>
    <ul>
      <li class="dropdown">
        <h5 href="javascript:void(0)" class="dropbtn">
          Instructions for Dilution
        </h5>
        <div class="dropdown-content">
          <h6>Mandatory inputs:</h6>
          <h6>finalConc</h6>
          <h6>FinalVol (only if inputVol is 0)</h6>
        </div>
      </li>
      <li class="dropdown">
        <h5 href="javascript:void(0)" class="dropbtn">
          Instructions for Increasing Concentration
        </h5>
        <div class="dropdown-content">
          <h6>Mandatory inputs:</h6>
          <h6>finalConc</h6>
          <h6>finalVol (only if inputVol is 0)</h6>
        </div>
      </li>
    </ul>
    <hr style="height: 3pt; visibility: hidden" />

    <h4>Error: Not enough inputs. Check the instructions for more insights.</h4>
    <h4>Note that if your inputVol is 0, it can also cause problems.</h4>
    <ul>
      <li><a href="/dilutionCalculator/">REFRESH</a></li>
    </ul>
  </center>
</body>

{% endblock %}
