{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Contact Page</title>
    </head>

    <body>
        <center>
            <hr style="height:15pt; visibility:hidden;" />
            <h4>Concentration Change Calculator</h4>
             

            <hr style="height:3pt; visibility:hidden;" />

            <table border = "1">
                <hr style="height:15pt; visibility:hidden;" />
                <tbody>
                    <tr>
                        <td> Input Liquid Volume </td>
                        <td> {{ inputVol }} {{ outputVolUnit }}</td>
                    </tr>
                    <tr>
                        <td> Input Liquid Concentration</td>
                        <td> {{inputConc}} {{ outputConcUnit }}</td>
                    </tr>
                    <tr>
                        <td> Input Solute Mass/Volume</td>
                        <td> {{inputSolute}} {{ outputSoluteUnit }}</td>
                    </tr>
                    <tr>
                        <td> Final Liquid Volume </td>
                        <td> {{finalVol}} {{ outputVolUnit }}</td>
                    </tr>
                    <tr>
                        <td> Final Liquid Concentration </td>
                        <td> {{finalConc}} {{ outputConcUnit }}</td>
                    </tr>
                    <tr>
                        <td> Added Solute Mass/Volume</td>
                        <td> {{addedSolute}} {{ outputSoluteUnit }}</td>
                    </tr>
                    <tr>
                        <td> Added Water Volume</td>
                        <td> {{addedWater}} {{ outputVolUnit }}</td>
                    </tr>
                    <tr>
                        <td> Molar Mass</td>
                        <td> {{molarMass}} {{ kg/mol }}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
            <li><a href="/dilutionCalculator/">REFRESH</a></li>
            </ul>
        </center>
    </body>


{% endblock %}