{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator FAQ Page</title>
    </head>

    <body>
        <center>
            <hr style="height:20pt; visibility:hidden;" />
            <h1></h1>
            <p>
                <strong>Welcome to the BioCalculator FAQ page!</strong>
                
                <br><br>
                Any frequently asked questions will be listed here, and we will answer them to the best of our abilities! 
                
                <br><br>
                To ask us questions, please visit our 
                <a href="https://github.com/tommyfuu/BioCalculator">GitHub</a> page.
            </p>
            <hr style="height:15pt; visibility:hidden;" />
        </center>
    </body>

{% endblock %}