<head>
  <title>FAQ Page</title>
</head>

{% extends 'base.html' %} {% block content%}

<body>
  <div class="container-fluid ms-3 my-5">
    <h4 class="mb-3">BioCalculator FAQ Page</h4>
    <p>
      Any <strong>frequently asked questions</strong> will be listed here, and
      we will answer them to the best of our abilities! To
      <strong>ask us questions</strong>, please visit our
      <strong
        ><a
          href="https://github.com/tommyfuu/BioCalculator"
          class="text-dark text-decoration-none"
          >GitHub</a
        ></strong
      >
      page.
    </p>
  </div>

  <!-- include accordion here -->
</body>

{% endblock %}
