<head>
  <link rel="stylesheet" href="/media/header.css">
</head>

<header>
  <h1>biocalculator</h1>
  <ul>
    <li><a class="active" href="/">home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">calculators</a>
      <div class="dropdown-content">
        <a href="/PCRCalc/">PCR</a>
        <a href="/cutting/">cutting reaction</a>
        <a href="/calcUnitConvert/">unit conversion</a>
        <a href="/dilutionCalculator/">dilution</a>
      </div>
    </li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/about/">about</a></li>
  </ul>
</header>


