<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid ms-3">
    <a href="/" class="navbar-brand">biocalculator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
      <div class="navbar-nav">
        <li><a href="/" class="nav-link" aria-current="page">home</a></li>
        
        <li class="nav-item dropdown">
          <a href="/calculators/" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">calculators</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a href="/PCRCalc/" class="dropdown-item">PCR</a></li>
            <li><a href="/calcUnitConvert/" class="dropdown-item">unit conversion</a></li>
            <li><a href="/cutting/" class="dropdown-item">restriction enzyme digestion</a></li>
            <li><a href="/dilutionCalculator/" class="dropdown-item">concentration change</a></li>
          </ul>
        </li>
        
        <li><a href="/faq/" class="nav-link" aria-current="page">FAQ</a></li>
        <li><a href="/about/" class="nav-link" aria-current="page">about</a></li>

      </div>
    </div>
  </div>
</nav>


