<head>
  <link rel="stylesheet" href="/media/header.css">
</head>

<header>
  <h1>
    <a href="/">biocalculator</a>
  </h1>
  <ul>
    <li class='navItem'><a class="active navbar" href="/">home</a></li>
    <li class="dropdown navItem">
      <a href="/calculators/" class="dropbtn navbar">calculators</a>
      <div class="dropdown-content">
        <a href="/PCRCalc/">PCR</a>
        <a href="/cutting/">cutting reaction</a>
        <a href="/calcUnitConvert/">unit conversion</a>
        <a href="/dilutionCalculator/">dilution</a>
      </div>
    </li>
    <li class='navItem'><a href="/faq/" class="navbar">FAQ</a></li>
    <li class='navItem'><a href="/about/" class="navbar">about</a></li>
  </ul>
</header>


