{% extends 'base.html' %}
{% block content%}
<!--     
    <head>
        <title>Bio Calculator Home Page</title>
    </head> -->

    <body>
        <center>
            <div class="bg-image" style="
                background-image: url('https://st4.depositphotos.com/2790227/31071/i/450/depositphotos_310715030-stock-photo-scientific-background-with-liquid-samples.jpg');
                height: 300px;
                "></div>
            <!-- <hr style="height:20pt; visibility:hidden;" /> -->
            <!-- <h1></h1> -->
            <br>
            <p>
                <strong>Welcome to the BioCalculator!</strong>
                <br><br>
                This is a website that provides calculators for that are helpful for various biological and chemical procedures.
                
                <br><br>
                If you have any questions or concerns, visit the 
                <a href="/faq/">FAQ page</a>
                ! If you are facing issues, please contact us via 
                <a href="https://github.com/tommyfuu/BioCalculator">GitHub</a>! 
            </p> 
            <hr style="height:15pt; visibility:hidden;" />
        </center>
    </body>
    
{% endblock %}