{% extends 'base.html' %} {% block content%}

<body>
  <div class="container-fluid ms-3 my-5">
    <h4 class="mb-3">Welcome to the BioCalculator!</h4>
    <p class="mb-0">
      This is a website that provides calculators for that are helpful for
      various biological and chemical procedures.
      <br/>
      If you have any questions or concerns, visit the
      <strong
        ><a href="/faq/" class="text-dark text-decoration-none">FAQ</a></strong
      >
      page! If you are facing issues, please contact us via
      <strong
        ><a
          href="https://github.com/tommyfuu/BioCalculator"
          class="text-dark text-decoration-none"
          >GitHub</a
        ></strong
      >!
    </p>
  </div>
</body>

{% endblock %}
