{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Log In Page</title>
    </head>

    <body style="background-color:rgb(255, 255, 255);">
        <center>
            <hr style="height:20pt; visibility:hidden;" />
            <h1></h1>
                Welcome to the Biocalculator, we can put all sorts of
            description here, maybe a photo of us all, or a simple calculator</h1>
            <hr style="height:15pt; visibility:hidden;" />
        </center>
    </body>


{% endblock %}