<html>
    
    <head>
        <title>Bio Calculator Log In Page</title>
    </head>
    
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <body style="background-color:rgb(216, 204, 36); font-size: 18; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <style>
            body {
              background-image: url("http://cdn.sci-news.com/images/enlarge4/image_5354e-Escherichia-coli.jpg");
              background-repeat: no-repeat;
              color:rgb(8, 190, 17)
            }
        </style>
        <center>
            <hr style="height:20pt; visibility:hidden;" />
            <h1></h1>
                Welcome to the Bio Calculator!</h1>
            <hr style="height:15pt; visibility:hidden;" />
            <h5>HMC BioMakerspace</h5>
            <hr style="height:10pt; visibility:hidden;" />
            <h3>Please select from the following calculators</h3> 
            <hr style="height:30pt; visibility:hidden;" />
            <a class="active" href="#PCR">PCR</a>
            <p></p>
            <a class="active" href="#Cutting">Cutting Reaction</a>
            <p></p>
            <a class="active" href="#Unit">Unit Conversion</a>
            <p></p>
            <a class="active" href="#Serial">Serial Dilutions</a>
            <!-- <img src="\Pictures\logo192.png" alt="Italian Trulli"> -->
        </center>
    </body>


</html>