{% extends 'base.html' %}
{% block content%}
    <head>
        <title>Bio Calculator Log In Page</title>
    </head>

    <body style="background-color:rgb(255, 255, 255); font-size: 18; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <style>
            body {
              background-image: url("http://cdn.sci-news.com/images/enlarge4/image_5354e-Escherichia-coli.jpg");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              color:white;
            }
        </style>
        <center>
            <hr style="height:20pt; visibility:hidden;" />
            <h1></h1>
                Welcome to the Biocalculator, we can put all sorts of
            description here, maybe a photo of us all, or a simple calculator</h1>
            <hr style="height:15pt; visibility:hidden;" />
            <h5>HMC BioMakerspace</h5>
            <hr style="height:10pt; visibility:hidden;" />
            <h3>Please select from the following calculators</h3> 
            <hr style="height:30pt; visibility:hidden;" />
            <a class="active" href="http://127.0.0.1:8000/PCRCalc/">PCR</a>
            <p></p>
            <a class="active" href="#Cutting">Cutting Reaction</a>
            <p></p>
            <a class="active" href="http://127.0.0.1:8000/calcUnitConvert/">Unit Conversion</a>
            <p></p>
            <a class="active" href="http://127.0.0.1:8000/dilutionCalculator/">Dilution Calculator</a>
        </center>
    </body>


{% endblock %}