<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fafcfb;
  text-align:center;
}

li {
  float: left;
}

li a {
  font-family: Helvetica, sans-serif;  
  display: block;
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #9cdebd;
}

.active {
  background-color: #2b9661;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">HOME</a></li>
  <li><a href="#news">CALCULATOR</a></li>
  <li><a href="#contact">CONTACT</a></li>
  <li><a href="#about">ABOUT</a></li>
</ul>

</body>