<head>
  <link rel="stylesheet" href="/media/navbar.css">
</head>

<body>
  <ul>
    <li><a class="active" href="/">HOME</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">CALCULATORS</a>
      <div class="dropdown-content">
        <a href="/PCRCalc/">PCR</a>
        <a href="/cutting/">CUTTING RXN</a>
        <a href="/calcUnitConvert/">UNIT CONVERSION</a>
        <a href="/dilutionCalculator/">DILUTIONS</a>
      </div>
    </li>
    <li><a href="/faq/">FAQ</a></li>
    <li><a href="/about/">ABOUT</a></li>
  </ul>
</body>